video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
    background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}
.recipe{
display: flex;
align-items: center;
flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}
.search {
  width: 100%;
        padding: 12px 24px;
        background-color: transparent;
        font-size: 14px;
        line-height: 18px;
        color: #575756;
        background-color: transparent;
        margin-left: 0px;
        box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}
.icons{
  width: 35px;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.el{
  list-style: none;
  background-color: #ddd6e8;
  margin: 4px;
  padding: 3px;
  text-align: center;
}
.el:hover{
  background-color: #d2c6e7;
}
button{
  background-color: #bea1ec;


}